.container {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100vh;
}
:root {
  --liner-color: linear-gradient(270deg, #2166a5 4.55%, #0f2b59 100%);
}
.wrapper {
  min-height: 100vh;
  height: 100%;
}
.box1,
.box2 {
  width: 50%;
}
.box2 {
  display: flex;
  justify-content: center;
}
.box1 img {
  width: 100%;
  height: 100%;
}
.col1 {
  margin: auto 7rem auto 3rem;
  height: auto;
}
.row1 {
  width: 100%;
}

.row1 span {
  font-weight: 300;
  font-size: 40px;
  line-height: 4rem;
}
.row1 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  background: var(--liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
}
.label {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}
.input,
.btn {
  width: 100%;
  border-radius: 2rem !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 33px !important;
  font-family: "Poppins", sans-serif;
}
.password {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.eye {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.checkbox,
.fg-text {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 23px !important;
  font-family: "Poppins", sans-serif;
}
.row3 span {
  width: 177px;
  height: 0px;
  background: #e1dfec;
  border: 0.2px solid #e1dfec;
  font-family: "Poppins", sans-serif;
}
.row3 h6 {
  width: 4rem;
  cursor: pointer;
  padding: 0.5rem 0 0 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #8c87a6;
  font-family: "Poppins", sans-serif;
}
.row4 {
  column-gap: 0.5rem;
}
.row4 button {
  background: var(--liner-color);
  color: #fff;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;

  font-family: "Poppins", sans-serif;
}
.row4 button:hover {
  color: #fff;
}
.btnlogin {
  background: var(--liner-color);
  border: 0 !important;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.btnReg {
  background: var(--liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --text-fill-color: transparent;
  border: 1px solid #2166a5 !important;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 992px) {
  .box1 {
    display: none;
  }

  .box2 {
    height: 100%;
    min-height: 100vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .box1,
  .box2 {
    width: 100%;
  }

  .col1 {
    width: 100%;
    padding: 1rem 2rem;
    margin: auto;
  }
}

@media screen and (max-width: 427px) {
  .row1 span,
  .row1 h1 {
    line-height: 2rem;
    font-size: 20px;
  }

  .label {
    font-size: 7.5px;
    line-height: 11px;
  }

  .input,
  .btn {
    font-size: 7px !important;
    line-height: 16px !important;
  }

  .checkbox,
  .fg-text {
    font-size: 7px !important;
    line-height: 10.5px !important;
  }

  .row3 span {
    width: 100px;
  }
  .eye {
    position: absolute;
    right: 1rem;
    bottom: 0.4rem;
  }
}
